[submodule "mod/customcert"]
	path = mod/customcert
	url = https://github.com/mdjnelson/moodle-mod_customcert.git
[submodule "mod/zoom"]
	path = mod/zoom
	url = https://github.com/ucla/moodle-mod_zoom.git
[submodule "local/boostnavigation"]
	path = local/boostnavigation
	url = https://github.com/moodleuulm/moodle-local_boostnavigation.git
[submodule "local/edwiserbridge"]
	path = local/edwiserbridge
	url = https://github.com/WisdmLabs/edwiser-bridge.git
[submodule "blocks/messageteacher"]
	path = blocks/messageteacher
	url = https://github.com/marxjohnson/moodle-block_messageteacher.git
[submodule "mod/dialogue"]
	path = mod/dialogue
	url = https://github.com/troywilliams/moodle-mod_dialogue.git
[submodule "auth/wdmwpmoodle"]
	path= auth/wdmwpmoodle
	url= https://github.com/WisdmLabs/edwiser-bridge.git
