[submodule "mod/customcert"]
	path = mod/customcert
	url = https://github.com/mdjnelson/moodle-mod_customcert.git
[submodule "mod/zoom"]
	path = mod/zoom
	url = https://github.com/ucla/moodle-mod_zoom.git
[submodule "mod/hvp"]
	path = mod/hvp
	url = https://github.com/h5p/h5p-moodle-plugin.git
[submodule "local/edwiserbridge"]
	path = local/edwiserbridge
	url = git@github.com:FieldStudiesCouncil/moodleEdwiserBridge.git
[submodule "auth/wdmwpmoodle"]
	path = auth/wdmwpmoodle
	url = git@github.com:FieldStudiesCouncil/moodle_auth_wdmwpmoodle.git
